<h1>Add a Post:</h1>
<div>
    <form ng-controller="SubmitController" ng-submit="submit()" id="postform" name="postForm">
      Enter the things:<br/>
      <input type="text" ng-model="formData.title" name="title" placeholder="Title" /><br/>
      <input type="url" ng-model="formData.video" name="video" placeholder="Video Link" /><br/>
      <textarea form="postform" ng-model="formData.vidDesc" name="vidDesc" placeholder="Video Description" /><br/>
      <input type="submit" id="submit" value="Submit" />
   </form>
</div>