doctype html
html(ng-app="adminApp" ng-controller="PageViewController")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Stay Savage - Admin Portal
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../public/styles/SStyle.css')
        link(rel='icon', href='../public/images/icons/SSfaviconAltBlack.ico')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='../public/lib/contentscript.js')
        script(src='../public/lib/fades.js')
        script(src='../public/lib/bootstrap.min.js')
    body
        .ultimate
            .topshit.js-list-item.js-current-panel
                a(href='/')
                    img(src='../public/images/SSSTIy.png', alt='Stay Savage Logo')
                .navigation
                    nav.navbar.navbar-default.pull-left
                        button.navbar-toggle.collapsed.pull-left(type='button', data-toggle='collapse', data-target='#nav-names')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        #nav-names.collapse.navbar-collapse.container
                            ul.nav.navbar-nav.navbar-custom#adminNav
                                li
                                    a(href='#/') Admin Home
                                li
                                    a(href='#managemedia') Manage Media
                                li
                                    a(href='#shopadmin') Shop Admin
            .row
                .col-sm-2
                .col-sm-8(ng-view)
                .col-sm-2

        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js")
        script(src="../node_modules/ng-infinite-scroll/build/ng-infinite-scroll.min.js")

        script.
            var app = angular.module('adminApp', ['ngRoute', 'infinite-scroll']);

            //SPA Routing
            app.config(['$routeProvider', function($routeProvider) {
                $routeProvider
                    .when('/', {
                        templateUrl : "partials/index.html",
                        controller : "PageViewController"
                    })
                    .when('/managemedia', {
                        templateUrl : "partials/managemedia.html"
                    })
                    .when('/shopadmin', {
                        templateUrl : "partials/shopadmin.html"
                    })
            }]);

            //SPA Controllers
            app.controller('PageViewController', ['$scope', function($scope) {
                $scope.title = 'Admin Home';
            }]);

            //Post Controller
            app.controller('SubmitController', function($scope, $http, $route) {
                $scope.clickedInput = function() {
                    document.getElementById("vidframe").style.visibility = "hidden";
                    document.getElementById("linkinput").src = " ";
                }

                $scope.blurInput = function() {
                    document.getElementById("vidframe").style.visibility = "visible";
                    if($scope.formData.video.indexOf('watch?v=') > -1) {
                        $scope.formData.video = $scope.formData.video.replace("watch?v=", "embed/");
                    }
                    if($scope.formData.video.indexOf('&t=') > -1) {
                        $scope.formData.video = $scope.formData.video.replace("&t=", "?start=");
                    }
                    document.getElementById("linkinput").src = "{{formData.video | trustUrl}}";
                }

                $scope.submit = function() {
                    document.getElementById("vidframe").style.visibility = "hidden";
                    $http.post('/submitpost', $scope.formData).
                    success(function(data) {
                        $scope.successOrFailure = "Posted Successfully";
                        $scope.formData = {};
                        $scope.postForm.$setPristine();
                        $scope.postForm.$setUntouched();
                    }).error(function(data) {
                        $scope.successOrFailure = "Failed to post";
                    })
                }

                $scope.deletepost = function(post) {
                    $http.delete('/delete/' + post._id)
                    .success(function(response) {
                        console.log(response);
                        //- var index = $scope.mediaPostsArr.items.indexOf(post);
                        //- console.log(index);
                        //Remove delted post from dom
                    }).error(function(response) {
                        console.log(response);
                    })
                }

                $scope.reloadRoute = function() {
                    $route.reload();
                }
            });

            //Filter
            app.filter("trustUrl", ['$sce', function ($sce) {
                return function (recordingUrl) {
                    return $sce.trustAsResourceUrl(recordingUrl);
                };
            }]);
            
        script(src="../public/lib/controllers/admincontrollers.js")