<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>Stay Savage</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/SStyle.css">
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../public/lib/contentscript.js"></script>
    <script src="../public/lib/bootstrap.min.js"></script>
    <script src="../public/lib/fades.js"></script>
</head>

<body id="home">
    <div id="home-ultimate" class="ultimate">
        <div class="topshit rellax" data-rellax-speed="3">
            <a href="/">
                    <img src=../public/images/SSSTIy.png alt="Stay Savage Logo">
                </a>

            <!--Top logo bar-->

            <div class="navigation">
                <nav class="navbar navbar-default pull-left">
                    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#nav-names"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <div class="collapse navbar-collapse container" id="nav-names">
                        <ul class="nav navbar-nav navbar-custom">
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/KVKA">KVKA</a></li>
                            <li><a href="/DENZ1">Denz1</a></li>
                            <li><a href="/Samuel-Gatara">Samuel Gatara</a></li>
                            <li><a href="/David-Argue">D Argue</a></li>
                            <li><a href="/Contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--Navigation bar-->
            <video class="video" id="video-unawareglossybullfrog" autoplay="" loop="" muted="" playsinline="" preload="true" poster="https://thumbs.gfycat.com/UnawareGlossyBullfrog-mobile.jpg"
                data-reactid="106">
                <source src="https://thumbs.gfycat.com/UnawareGlossyBullfrog-mobile.mp4" type="video/mp4" data-reactid="107">
                <source src="https://fat.gfycat.com/UnawareGlossyBullfrog.webm" type="video/webm" data-reactid="108">
                <source src="https://giant.gfycat.com/UnawareGlossyBullfrog.mp4" type="video/mp4" data-reactid="109">
            </video>
        </div>

        <div class="contact-body">
            <div>
                A savage collective of music producers, designers, MC's, photographers and videographers.
            </div>
            <div>
                Together we are STAY SAVAGE
            </div>

        </div>

        <div id="home-ss-logo" class="col-sm-12">
            <img src="../public/images/backgrounds/whitess.png" alt="Stay Savage">
        </div>

        <div id="media-footer" class="col-sm-12">
            <a href="/media">More Media</a>
        </div>

    </div>
</body>

</html>