<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stay Savage</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/SStyle.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" href="../public/images/icons/SSfaviconAltBlack.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../public/lib/contentscript.js"></script>
    <script src="../public/lib/bootstrap.min.js"></script>
    <script src="../public/lib/fades.js"></script>
</head>

<body>
    <div class="se-pre-con"></div>
    <div class="ultimate">
        <div class="topshit js-list-item js-current-panel">
            <a href="/">
                <img src=../public/images/SSSTIy.png alt="Stay Savage Logo">
            </a>

            <!--Top logo bar-->

            <div class="navigation">
                <nav class="navbar navbar-default pull-left">
                    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#nav-names"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <div class="collapse navbar-collapse container" id="nav-names">
                        <ul class="nav navbar-nav navbar-custom">
                            <li class="active"><a class="nav-link-a nav-media" href="#media">Media</a></li>
                            <li><a id="shopID" class="nav-link-a nav-shop" href="#shop">Shop</a></li>
                            <li><a href="/kvka">KVKA</a></li>
                            <li><a href="#">Denz1</a></li>
                            <li><a href="/samgat">Samuel Gatara</a></li>
                            <li><a href="#">D Argue</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--Navigation bar-->

            <div class="anchor-navigation">
                <a class="ion-chevron-up js-prev" href="#"></a>
                <a class="ion-chevron-down js-next" href="#"></a>
            </div>
            <!--Jump to anchor controls-->
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="top-content-block container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="feature-container">
                        <div class="imagecontainer">
                            <img src="../public/images/outlierz.jpg" alt="Outliers Album Cover">
                            <div class="imgoverlay">
                                <div class="textoverlay">
                                    Outliers EP Out Now
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A1MuKD09XIgsn2ZHFIgRgth" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <!--This is the first content block under the nav bar-->

        <div id="media" class="content-block-1 js-list-item">
            <div id="media-feature" class="container">
                <h1 class="main-headers">Bad Angel</h1>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inner-content-container">
                            <iframe src="https://www.youtube.com/embed/fsunK9O1Eeg?dark" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div id="media-writeup" class="col-sm-6">
                        <p>
                            KVKA & DENZ1 <br> Starring.. <br>KVKA <br> Isabella Garraway <br> DENZ1 <br> Directed by Samuel
                            Gatara
                            <br> Asst Direction by David Argue <br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="media-footer" class="col-sm-12">
                    <a href="/media">More Media</a>
                </div>
            </div>
        </div>
        <!--Feature.html-->
        <div id="shop" class="shop-block js-list-item">
            <a href="http://www.stay-savage.com/products">SHOP</a>

        </div>
        <!--Shop.html-->

        <div class="crew-block js-list-item">
            <h1 class="main-headers">SQUAD</h1>
        </div>
        <!--Crew.html-->
    </div>
    <!--Page Container Div-->
</body>

</html>