<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stay Savage</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../public/lib/jquery.jscroll.min.js"></script>
    <script src="../public/lib/contentscript.js"></script>
    <script src="../public/lib/bootstrap.min.js"></<script>
    </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/SStyle.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" href="../public/images/icons/SSfaviconAltBlack.ico">
</head>

<body>
    <div class="ultimate">
        <div class="topshit js-list-item js-current-panel">
            <a href="/">
                <img src=../public/images/SSSTIy.png alt="Stay Savage Logo">
            </a>
        </div>
        <!--Top logo bar-->

        <div class="navigation">
            <nav class="navbar navbar-default pull-left">
                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#nav-names"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <div class="collapse navbar-collapse container" id="nav-names">
                    <ul class="nav navbar-nav navbar-custom">
                        <li class="active"><a class="nav-link-a nav-media" href="#media">Media</a></li>
                        <li><a class="nav-link-a nav-shop" href="#shop">Shop</a></li>
                        <li><a href="#">KVKA</a></li>
                        <li><a href="#">Bobby</a></li>
                        <li><a href="#">Stuss</a></li>
                        <li><a href="#">Denz1</a></li>
                        <li><a href="#">Sam Gat</a></li>
                        <li><a href="#">D Argue</a></li>
                    </ul>
                </div>
            </nav>  
        </div>
        <!--Navigation bar-->

        <div class="anchor-navigation">
            <a class="ion-chevron-up js-prev" href="#"></a>
            <a class="ion-chevron-down js-next" href="#"></a>
        </div>
        <!--Jump to anchor controls-->

        <div class="top-content-block">

        </div>
        <!--This is the first content block under the nav bar-->

        <div id="media" class="content-block-1 js-list-item">
            <h1 class="main-headers">Neck of the Woods</h1>
            <div class="inner-content-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/p9uSzrPQ2Pw?dark" frameborder="0" allowfullscreen></iframe>

                <p>
                    Neck of the Woods <br> Performed by KVKA and STUSS <br> Produced & Directed by STUSS <br> Stay Savage
                    2016 <br>
                </p>

            </div>
            <div class="media-footer">
                <a href="/media">More Media</a>
            </div>
        </div>
        <!--Feature.html-->

        <div id="shop" class="shop-block js-list-item">
            <a href="http://www.stay-savage.com/products">SHOP</a>

        </div>
        <!--Shop.html-->

        <div class="crew-block js-list-item">
            <h1 class="main-headers">SQUAD</h1>
        </div>
        <!--Crew.html-->
    </div>
    <!--Page Container Div-->
</body>

</html>