<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stay Savage</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../public/lib/jquery.jscroll.min.js"></script>
    <script src="../public/lib/fades.js"></script>
    <script src="../public/lib/bootstrap.min.js"></<script>
    </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/SStyle.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" href="../public/images/icons/SSfaviconAltBlack.ico">
</head>

<body>
    <div class="se-pre-con"></div>
    <div id="kvka-ultimate" class="ultimate">
        <div class="topshit-plus-kvka1">
            <div class="topshit">
                <a href="/">
                    <img src=../public/images/SSSTIy.png alt="Stay Savage Logo">
                </a>

                <!--Top logo bar-->

                <div class="navigation">
                    <nav class="navbar navbar-default pull-left">
                        <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#nav-names"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <div class="collapse navbar-collapse container" id="nav-names">
                            <ul class="nav navbar-nav navbar-custom">
                                <li><a class="nav-link-a nav-media" href="#media">Media</a></li>
                                <li><a class="nav-link-a nav-shop" href="/shop">Shop</a></li>
                                <li><a href="/kvka">KVKA</a></li>
                                <li><a href="#">Bobby</a></li>
                                <li><a href="#">Stuss</a></li>
                                <li><a href="#">Denz1</a></li>
                                <li><a href="#">Sam Gat</a></li>
                                <li><a href="#">D Argue</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!--Navigation bar-->
            </div>
            <div id="kvka-top-block" class="container-fluid">
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-4">
                        <br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br>
                        <img src=../public/images/whitekvka.png class="kvka-logo">
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/thekvka" data-chrome="nofooter transparent" data-tweet-limit="3">
                    Tweets by thekvka
                    </a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br>

        <div id="kvka-writeup-block" class="container-fluid">

            <div class="row">
                <div class="col-md-7">
                    <p class="lead kvka-text kvka-logo">
                        TURNING HEADS WITH ALMOST 1 MILLION YOUTUBE VIEWS ON HIS MOST INFLUENTIAL TRACK "WHO YOU" [2014], KVKA HAS BEEN MAKING AN
                        IMPACT ON THE NEW ZEALAND AND INTERNATONAL HIP-HOP SCENE. RELEASING SINGLES SUCH AS 'NECK OF THE
                        WOODS' [2015] AND ‘FAKE THE FUNK’ [2015]. IT IS CLEAR THAT KVKA HAS A HARD-HITTING STYLE AND VOICE,
                        ADDRESSING BOTH CONTEMPARY AND TRADITIONAL STYLES OF THE GENRE. WITH THE ‘OUTLIERS’ EP AND 'CUPID
                        BABY' LP SET FOR RELEASE IN LATE 2016/EARLY 2017, KVKA WILL BE A NAME HARD TO FORGET.
                    </p>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>

        <br><br><br><br>

        <div id="kvka-media-block" class="container-fluid">
            <div class="row">
                <div id="social-links" class="col-md-2">
                </div>
                <div id="social-links" class="col-md-5">
                    <div class="row">
                        <span class="instagram-link hvr-sink kvka-logo"><img src="../public/images/icons/socialicons/instagram-white.png"><a href="https://www.instagram.com/fatboykv/">Instagram</a></span>
                    </div>
                    <div class="row">
                        <span class="facebook-link hvr-sink kvka-logo"><img src="../public/images/icons/socialicons/facebook-white.png"><a href="https://www.facebook.com/thekvka/">Facebook</a></span>
                    </div>
                    <div class="row">
                        <span class="twitter-link hvr-sink kvka-logo"><img src="../public/images/icons/socialicons/twitter-white.png"><a href="https://twitter.com/thekvka">Twitter</a></span>
                    </div>
                    <div class="row">
                        <span class="soundcloud-link hvr-sink kvka-logo"><img src="../public/images/icons/socialicons/soundcloud-white.png"><a href="https://soundcloud.com/kvka">SoundCloud</a></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">
                            <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/258764332&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </div>
                        <div class="col-md-6">
                            <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/229203293&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/201989552&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </div>
                        <div class="col-md-6">
                            <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179425911&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <iframe width="100%" height="350px" src="https://www.youtube.com/embed/Jw_Ue1NvahI" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <iframe width="100%" height="350px" src="https://www.youtube.com/embed/YYDLALZX4F8" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!--Ultimate-->

</body>