<!doctype html>
<html lang="en" id="html-kvka">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stay Savage</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../public/lib/fades.js"></script>
    <script src="../public/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/styles/SStyle.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" href="../public/images/icons/SSfaviconAltBlack.ico">
</head>


<body id="kvka" class="artist-page">
    <div class="se-pre-con"></div>
    <div id="kvka-ultimate" class="ultimate">
        <div class="topshit-plus-kvka1">
            <img class="background-img-tag rellax" data-rellax-speed="0" src="../public/images/backgrounds/KVKA-background.jpg" />
            <div class="topshit rellax" data-rellax-speed="3">
                <a href="/">
                    <img src=../public/images/SSSTIy.png alt="Stay Savage Logo">
                </a>

                <!--Top logo bar-->

                <div class="navigation">
                    <nav class="navbar navbar-default pull-left">
                        <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#nav-names"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <div class="collapse navbar-collapse container" id="nav-names">
                            <ul class="nav navbar-nav navbar-custom">
                                <li><a class="nav-link-a nav-media" href="#media">Media</a></li>
                                <li><a class="nav-link-a nav-shop" href="/shop">Shop</a></li>
                                <li><a href="/kvka">KVKA</a></li>
                                <li><a href="#">Denz1</a></li>
                                <li><a href="/samgat">Sam Gat</a></li>
                                <li><a href="#">D Argue</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!--Navigation bar-->
            </div>
            <div id="kvka-top-block" class="container-fluid">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6 hidden-xs"></div>
                            <div class="col-lg-4">
                                <div id="artist-social-module">
                                    <div id="social-module-background">
                                        <ul class="horizontal-social">
                                            <li class="social-li">
                                                <a href="https://www.facebook.com/thekvka/">
                                                    <svg class="svg-icon" id="facebook-icon" viewBox="0 0 512 512">
                                                        <path class="circle-path" stroke="#f8f8ff" fill="#000000" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m471.90362,279.12757c-1.69771,14.76743 -4.84937,29.14361 -9.31897,42.96641c-4.4696,13.82279 -10.25714,27.09222 -17.22659,39.64616c-6.96946,12.55393 -15.12082,24.39237 -24.31805,35.35322c-9.19724,10.96084 -19.44036,21.0441 -30.59335,30.08763c-11.15298,9.04352 -23.21581,17.04735 -36.05248,23.84936c-12.83665,6.802 -26.44714,12.40217 -40.69542,16.63843c-14.24828,4.23624 -29.13436,7.10855 -44.52222,8.45481c-123.10283,10.7701 -231.53989,-80.21941 -242.31,-203.32223c-10.7701,-123.10283 80.21941,-231.53991 203.32223,-242.31c61.55142,-5.38505 119.43639,14.6698 163.27977,51.45877c10.96084,9.19724 21.0441,19.44036 30.08763,30.59334c9.04353,11.15299 17.04736,23.21582 23.84936,36.05248c6.802,12.83666 12.40218,26.44714 16.63843,40.69543c4.23624,14.24828 7.10855,29.13436 8.45481,44.52222"
                                                        />
                                                        <path class="arrow-path" stroke="#f8f8ff" fill="none" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m472.35591,233.53743l23.54761,-40.63118"
                                                        />
                                                        <path class="arrow-path" stroke="#f8f8ff" fill="none" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m472.35591,233.25527l-34.8597,-34.8597"
                                                        />
                                                        <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"
                                                        />
                                                    </svg>
                                                </a>
                                            </li>

                                            <li class="social-li">
                                                <a href="https://twitter.com/thekvka/">
                                                    <svg class="svg-icon" id="twitter-icon" viewBox="0 0 512 512">
                                                        <path class="circle-path" stroke="#f8f8ff" fill="#000000" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m471.90362,279.12757c-1.69771,14.76743 -4.84937,29.14361 -9.31897,42.96641c-4.4696,13.82279 -10.25714,27.09222 -17.22659,39.64616c-6.96946,12.55393 -15.12082,24.39237 -24.31805,35.35322c-9.19724,10.96084 -19.44036,21.0441 -30.59335,30.08763c-11.15298,9.04352 -23.21581,17.04735 -36.05248,23.84936c-12.83665,6.802 -26.44714,12.40217 -40.69542,16.63843c-14.24828,4.23624 -29.13436,7.10855 -44.52222,8.45481c-123.10283,10.7701 -231.53989,-80.21941 -242.31,-203.32223c-10.7701,-123.10283 80.21941,-231.53991 203.32223,-242.31c61.55142,-5.38505 119.43639,14.6698 163.27977,51.45877c10.96084,9.19724 21.0441,19.44036 30.08763,30.59334c9.04353,11.15299 17.04736,23.21582 23.84936,36.05248c6.802,12.83666 12.40218,26.44714 16.63843,40.69543c4.23624,14.24828 7.10855,29.13436 8.45481,44.52222"
                                                        />
                                                        <path class="arrow-path" stroke="#f8f8ff" fill="none" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m472.35591,233.53743l23.54761,-40.63118"
                                                        />
                                                        <path class="arrow-path" stroke="#f8f8ff" fill="none" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m472.35591,233.25527l-34.8597,-34.8597"
                                                        />
                                                        <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"
                                                        />
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="social-li">
                                                <a href="https://www.instagram.com/uglyboykv/">
                                                    <svg class="svg-icon" id="instagram-icon" viewBox="0 0 512 512">
                                                        <path class="circle-path" stroke="#f8f8ff" fill="#000000" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m471.90362,279.12757c-1.69771,14.76743 -4.84937,29.14361 -9.31897,42.96641c-4.4696,13.82279 -10.25714,27.09222 -17.22659,39.64616c-6.96946,12.55393 -15.12082,24.39237 -24.31805,35.35322c-9.19724,10.96084 -19.44036,21.0441 -30.59335,30.08763c-11.15298,9.04352 -23.21581,17.04735 -36.05248,23.84936c-12.83665,6.802 -26.44714,12.40217 -40.69542,16.63843c-14.24828,4.23624 -29.13436,7.10855 -44.52222,8.45481c-123.10283,10.7701 -231.53989,-80.21941 -242.31,-203.32223c-10.7701,-123.10283 80.21941,-231.53991 203.32223,-242.31c61.55142,-5.38505 119.43639,14.6698 163.27977,51.45877c10.96084,9.19724 21.0441,19.44036 30.08763,30.59334c9.04353,11.15299 17.04736,23.21582 23.84936,36.05248c6.802,12.83666 12.40218,26.44714 16.63843,40.69543c4.23624,14.24828 7.10855,29.13436 8.45481,44.52222"
                                                        />
                                                        <path class="arrow-path" stroke="#f8f8ff" fill="none" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m472.35591,233.53743l23.54761,-40.63118"
                                                        />
                                                        <path class="arrow-path" stroke="#f8f8ff" fill="none" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m472.35591,233.25527l-34.8597,-34.8597"
                                                        />
                                                        <path d="M365.3 234.1h-24.7c1.8 7 2.9 14.3 2.9 21.9 0 48.3-39.2 87.5-87.5 87.5 -48.3 0-87.5-39.2-87.5-87.5 0-7.6 1.1-14.9 2.9-21.9h-24.7V354.4c0 6 4.9 10.9 10.9 10.9H354.4c6 0 10.9-4.9 10.9-10.9V234.1H365.3zM365.3 157.6c0-6-4.9-10.9-10.9-10.9h-32.8c-6 0-10.9 4.9-10.9 10.9v32.8c0 6 4.9 10.9 10.9 10.9h32.8c6 0 10.9-4.9 10.9-10.9V157.6zM256 201.3c-30.2 0-54.7 24.5-54.7 54.7 0 30.2 24.5 54.7 54.7 54.7 30.2 0 54.7-24.5 54.7-54.7C310.7 225.8 286.2 201.3 256 201.3M365.3 398.1H146.7c-18.1 0-32.8-14.7-32.8-32.8V146.7c0-18.1 14.7-32.8 32.8-32.8h218.7c18.1 0 32.8 14.7 32.8 32.8v218.7C398.1 383.4 383.5 398.1 365.3 398.1"
                                                        />
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="social-li">
                                                <a href="https://www.youtube.com/channel/UCxQq2pQWarBaPs1m1TXvr1A/">
                                                    <svg class="svg-icon" id="youtube-icon" viewBox="0 0 512 512">
                                                        <path class="circle-path" stroke="#f8f8ff" fill="#000000" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m471.90362,279.12757c-1.69771,14.76743 -4.84937,29.14361 -9.31897,42.96641c-4.4696,13.82279 -10.25714,27.09222 -17.22659,39.64616c-6.96946,12.55393 -15.12082,24.39237 -24.31805,35.35322c-9.19724,10.96084 -19.44036,21.0441 -30.59335,30.08763c-11.15298,9.04352 -23.21581,17.04735 -36.05248,23.84936c-12.83665,6.802 -26.44714,12.40217 -40.69542,16.63843c-14.24828,4.23624 -29.13436,7.10855 -44.52222,8.45481c-123.10283,10.7701 -231.53989,-80.21941 -242.31,-203.32223c-10.7701,-123.10283 80.21941,-231.53991 203.32223,-242.31c61.55142,-5.38505 119.43639,14.6698 163.27977,51.45877c10.96084,9.19724 21.0441,19.44036 30.08763,30.59334c9.04353,11.15299 17.04736,23.21582 23.84936,36.05248c6.802,12.83666 12.40218,26.44714 16.63843,40.69543c4.23624,14.24828 7.10855,29.13436 8.45481,44.52222"
                                                        />
                                                        <path class="arrow-path" stroke="#f8f8ff" fill="none" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m472.35591,233.53743l23.54761,-40.63118"
                                                        />
                                                        <path class="arrow-path" stroke="#f8f8ff" fill="none" fill-opacity="0" stroke-width="20" stroke-dasharray="null" stroke-linejoin="null"
                                                            stroke-linecap="round" d="m472.35591,233.25527l-34.8597,-34.8597"
                                                        />
                                                        <path d="M422.6 193.6c-5.3-45.3-23.3-51.6-59-54 -50.8-3.5-164.3-3.5-215.1 0 -35.7 2.4-53.7 8.7-59 54 -4 33.6-4 91.1 0 124.8 5.3 45.3 23.3 51.6 59 54 50.9 3.5 164.3 3.5 215.1 0 35.7-2.4 53.7-8.7 59-54C426.6 284.8 426.6 227.3 422.6 193.6zM222.2 303.4v-94.6l90.7 47.3L222.2 303.4z"
                                                        />
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7"></div>
                            <div class="col-sm-5">
                                <img src=../public/images/KVKA/kvkalogo-white.png class="rellax kvka-logo" data-rellax-speed="-3">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <div class="twitter-col">
                            <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/thekvka" data-chrome="nofooter transparent noscrollbar"
                                data-height="1500">
                                Tweets by thekvka
                                </a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="showcase-body">
            <div class="container-fluid">

                <div class="row showcase-item">
                    <div class="col-sm-12">
                        <div class="showcase-text">
                            <div class="row">
                                <div class="col-sm-3 showcase-text-title">
                                    The music of KVKA
                                </div>
                                <div class="col-sm-9 showcase-text-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor rhoncus nunc, quis feugiat felis tincidunt ac. Morbi
                                    non erat sit amet nibh ornare molestie. Aliquam ullamcorper mi in velit malesuada molestie.
                                    Duis ac enim sagittis, rutrum felis a, tristique nisl. Nam viverra ornare commodo. Nunc
                                    eu dui id massa molestie iaculis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row showcase-item">
                    <div class="col-sm-12">
                        <div class="showcase-video">
                            <iframe src="https://www.youtube.com/embed/Jw_Ue1NvahI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>

                <div class="row showcase-item">
                    <div class="col-sm-12">
                        <div class="showcase-text">
                            <div class="row">
                                <div class="col-sm-3 showcase-text-title">
                                    2017
                                </div>
                                <div class="col-sm-9 showcase-text-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor rhoncus nunc, quis feugiat felis tincidunt ac. Morbi
                                    non erat sit amet nibh ornare molestie.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row showcase-item">
                    <div class="col-sm-12">
                        <div class="showcase-photo">
                            <img src="../public/images/KVKA/KVKA-face.jpg">
                        </div>
                    </div>
                </div>

                <div class="row showcase-item">
                    <div class="dblphoto1 col-sm-8">
                        <div class="showcase-photo" id="kvka-sc-1">
                            <img src="../public/images/KVKA/KVKA-red.jpg">
                        </div>
                    </div>
                    <div class=" dblphoto2 col-sm-6 ">
                        <div class="showcase-photo" id="kvka-sc-2">
                            <img src="../public/images/KVKA/KVKA-flowers.jpg">
                        </div>
                    </div>
                </div>

                <div class="row showcase-item">
                    <div class="col-sm-12">
                        <div class="showcase-video">
                            <iframe src="https://www.youtube.com/embed/XsjwEb6c4Kc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>

                <div class="row showcase-item">
                    <div class="col-sm-12">
                        <div class="showcase-text">
                            <div class="row">
                                <div class="col-sm-3 showcase-text-title">
                                    2017
                                </div>
                                <div class="col-sm-9 showcase-text-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor rhoncus nunc, quis feugiat felis tincidunt ac. Morbi
                                    non erat sit amet nibh ornare molestie.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row showcase-item">
                    <div class="col-sm-12">
                        <div class="showcase-photo">
                            <img src="../public/images/KVKA/redbull-gig.jpg">
                        </div>
                    </div>
                </div>

                <div class="row showcase-item">
                    <div class="dblphoto1 col-sm-6">
                        <div class="showcase-photo" id="kvka-sc-3">
                            <img src="../public/images/KVKA/blue-performing.jpg">
                        </div>
                    </div>
                    <div class=" dblphoto2 col-sm-8">
                        <div class="showcase-photo" id="kvka-sc-4">
                            <img src="../public/images/KVKA/white-axe.jpg">
                        </div>
                    </div>
                </div>

            </div>

            <div class="centerwrapper">
                <a class="pagetopbtn hvr-bob" href="#">
                    <div>
                        <span class="ion-chevron-up"></span>
                        <br> BACK TO TOP
                    </div>
                </a>
            </div>
        </div>


    </div>
    <!--Showcase-body-->


    </div>
    <!--Ultimate-->
    <script src="../public/lib/fades.js"></script>
    <script src="/node_modules/rellax/rellax.min.js"></script>
    <script>
        var rellax = new Rellax('.rellax');
    </script>

</body>