doctype html
html
    head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Stay Savage
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../public/styles/SStyle.css')
    link(rel='stylesheet', type='text/css', href='../public/styles/animate.css')
    link(rel='icon', href='../public/images/icons/SSfaviconAltBlack.ico')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='../public/lib/bootstrap.min.js')
body
    block content