extends pagetopper.pug

block pageContent
	.fivebreaks
		br
		br
		br
		br
		br
	.container-fluid
		.row
			.col-sm-2
			.col-sm-8#midColMedia(ng-controller="MediaController")
				ul.data#scroller(infinite-scroll="mediaPostsArr.loadMore()" infinite-scroll-disabled="mediaPostsArr.busy")
					.post-block
						.datacontainer.row(ng-repeat="post in mediaPostsArr.items")
							li.datafiles
								span.main-headers#media-title {{post.title | uppercase}}
								br
								span.media-dateTime Posted {{post.dateTime | date:'dd/MM/yyyy - hh:mma'}}
								br
								.inner-content-container
									iframe(ng-src="{{post.video | trustUrl}}", width="560", height="315", frameborder='0' allowfullscreen)
								p(class="post-description" dd-text-collapse dd-text-collapse-max-length="150" dd-text-collapse-text="{{ post.vidDesc }}")
			.col-sm-2

//---------------
//-- Scripts ----
//---------------
block body

	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js")
	script(src="../node_modules/ng-infinite-scroll/build/ng-infinite-scroll.min.js")
	script(src="../bower_components/angular-scroll-animate/dist/angular-scroll-animate.js")
	
	script.
		var myApp = angular.module('app', ['infinite-scroll', 'angular-scroll-animate']);

		// Filters
		myApp.filter("trustUrl", ['$sce', function ($sce) {
			return function (recordingUrl) {
				return $sce.trustAsResourceUrl(recordingUrl);
			};
		}]);

	script(src="../public/lib/directives.js")
	script(src="../public/lib/controllers/getposts.js")