doctype html
html

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stay Savage</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../public/lib/fades.js"></script>
	<script src="../public/lib/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/styles/SStyle.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="icon" href="../public/images/icons/SSfaviconAltBlack.ico">
</head>

    body
        .se-pre-con
        .ultimate
            .topshit
                <a href="/">
				<img src=../public/images/SSSTIy.png alt="Stay Savage Logo">
			    </a>

			    <div class="navigation">
				    <nav class="navbar navbar-default pull-left">
					    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#nav-names"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					    <div class="collapse navbar-collapse container" id="nav-names">
						    <ul class="nav navbar-nav navbar-custom">
							    <li><a class="nav-link-a nav-media" href="#media">Media</a></li>
							    <li><a class="nav-link-a nav-shop" href="/shop">Shop</a></li>
							    <li><a href="/kvka">KVKA</a></li>
							    <li><a href="#">Bobby</a></li>
							    <li><a href="#">Stuss</a></li>
							    <li><a href="#">Denz1</a></li>
							    <li><a href="#">Sam Gat</a></li>
							    <li><a href="#">D Argue</a></li>
						    </ul>
					    </div>
				    </nav>
			    </div>