extends pagetopper.pug

block pageContent
	.fivebreaks
		br
		br
		br
		br
		br
	.fluid-container
		.row
			.col-sm-2
			.col-sm-8#midColMedia
				ul.data
					.post-block(ng-controller="MediaController")
						.datacontainer.row.kvka-logo(ng-repeat="post in mediaPostsArr | orderBy: '-'")
							li.datafiles
								span.main-headers#media-title {{post.title}}
								br
								span.media-dateTime Posted {{post.dateTime | date:'dd/MM/yyyy - hh:mma'}}
								br
								.inner-content-container
									iframe(ng-src="{{post.video | trustUrl}}", width="560", height="315", frameborder='0')
								p(class="post-description" dd-text-collapse dd-text-collapse-max-length="150" dd-text-collapse-text="{{ post.vidDesc }}")

//---------------
//-- Scripts ----
//---------------
block body

	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js")
	
	
	script.
		var myApp = angular.module('app', []);

		// Services
		myApp.factory('MediaPost', ['$http', function($http){
			return $http.get('/posts');
		}]);

		// controllers
		myApp.controller('MediaController', ['$scope', '$sce', 'MediaPost', function ($scope, $sce, MediaPost) {
			MediaPost.success(function(data){
				$scope.mediaPostsArr = data;
			}).error(function(data, status){
				console.log(data, status);
				$scope.mediaPostsArr = [];
			});
		}]);

		// Filters
		myApp.filter("trustUrl", ['$sce', function ($sce) {
			return function (recordingUrl) {
				return $sce.trustAsResourceUrl(recordingUrl);
			};
		}]);

	script(src="../public/lib/directives.js")