<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stay Savage</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../public/lib/jquery.jscroll.min.js"></script>
    <script src="../public/lib/contentscript.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/SStyle.css">
    <link rel="icon" href="../public/images/icons/SSfaviconAltBlack.ico">
</head>
<div class="ultimate">
    <div class="topshit">
        <a href="/">
            <img src=../public/images/SSSTIy.png alt="Stay Savage Logo">
        </a>
    </div>  <!--Top logo bar-->

    <div class="navigation">
        <nav class="navbar pull-left">
            <div class="container">
                <ul class="nav navbar-nav navbar-custom">
                    <li class="active"><a href="#media">Media</a></li>
                    <li><a href="#shop">Shop</a></li>
                    <li><a href="#">KVKA</a></li>
                    <li><a href="#">Bobby</a></li>
                    <li><a href="#">Stuss</a></li>
                    <li><a href="#">Denz1</a></li>
                    <li><a href="#">Sam Gat</a></li>
                    <li><a href="#">D Argue</a></li>
                </ul>
            </div>
        </nav>
    </div> <!--Navigation bar-->

<body>
    <ul class="data">
    <% for(var i = data.length - 1; i >= 0; i--) {%>
        <li class="datafiles">
            <span class="main-headers" id="media-title"><%= data[i].title %></span> <br>
            <span id="media-dateTime"><%= data[i].dateTime %></span>
            <div class="inner-content-container">
                <iframe width="560" height="315" src='<%= data[i].video %>' frameborder="0" allowfullscreen></iframe>
                <p>
                    <%= data[i].vidDesc %>
                </p>
            </div>
             <br>
        </li>
    <% } %>
    </ul>
</body>

</html>