doctype html
html(ng-app="app")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Stay Savage - Media
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../public/styles/SStyle.css')
    link(rel='stylesheet', type='text/css', href='../public/styles/animate.css')
    link(rel='icon', href='../public/images/icons/SSfaviconAltBlack.ico')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='../public/lib/contentscript.js')
    script(src='../public/lib/fades.js')
    script(src='../public/lib/bootstrap.min.js')
  body
    .ultimate
      img.background-img-tag.rellax(data-rellax-speed="0" src="../public/images/backgrounds/BACKGROUND-IMAGE.jpg")
      .topshit.js-list-item.js-current-panel
        a(href='/')
          img(src='../public/images/SSSTIy.png', alt='Stay Savage Logo')
        .navigation
          nav.navbar.navbar-default.pull-left
            button.navbar-toggle.collapsed.pull-left(type='button', data-toggle='collapse', data-target='#nav-names')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            #nav-names.collapse.navbar-collapse.container
              ul.nav.navbar-nav.navbar-custom
                li
                  a(href='/shop') Shop
                li
                  a(href='/KVKA') KVKA
                li
                  a(href='/DENZ1') Denz1
                li
                  a(href='/Samuel-Gatara') Samuel Gatara
                li
                  a(href='/David-Argue') D Argue
                li
                  a(href='/Contact') Contact

      block pageContent
  block body