doctype html
html(lang='en', ng-app="shopApp")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0')
        title STAY SAVAGE - #{item.title}
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel ='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel ='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400')
        link(rel='stylesheet', type='text/css', href='../public/styles/SShopSStyle.css')
        link(rel='stylesheet', type='text/css', href='../public/styles/animate.css')
        link(rel='icon', href='../public/images/icons/SSfaviconAltBlack.ico')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='../public/lib/bootstrap.min.js')
    body.store
