<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stay Savage</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../public/lib/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/styles/SStyle.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="icon" href="../public/images/icons/SSfaviconAltBlack.ico">
</head>

<body id="fadeScroller">
	<div class="ultimate">
		<div class="topshit" id="sam-top-bar">
			<a href="/">
				<img src="../public/images/SSSTIy.png" alt="Stay Savage Logo">
			</a>

			<!--Top logo bar-->

			<div class="navigation">
				<nav class="navbar navbar-default pull-left">
					<button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#nav-names"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					<div class="collapse navbar-collapse container" id="nav-names">
						<ul class="nav navbar-nav navbar-custom">
							<li><a class="nav-link-a nav-media" href="#media">Media</a></li>
							<li><a class="nav-link-a nav-shop" href="/shop">Shop</a></li>
							<li><a href="/kvka">KVKA</a></li>
							<li><a href="#">Denz1</a></li>
							<li><a href="#">Samuel Gatara</a></li>
							<li><a href="#">D Argue</a></li>
						</ul>
					</div>
				</nav>
			</div>
			<!--Navigation bar-->
		</div>

		<div class="sam-cover">
			<p id="p1" class="pleft">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p2" class="pleft">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p3" class="pright">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p4" class="pleft">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p5" class="pright">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p6" class="pleft">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p7" class="pright">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p8" class="pleft">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p9" class="pleft">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p10" class="pright">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p11" class="pleft">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p12" class="pleft">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p13" class="pright">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
			<p id="p14" class="pleft">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus risus. Integer at hendrerit magna. Aenean vulputate
			</p>
		</div>
		<div class="centerwrapper">
			<a class="pagetopbtn hvr-bob" href="#">
				<div>
					<span class="ion-chevron-up"></span>
					<br>
					BACK TO TOP
				</div>
			</a>
		</div>
		<div id="faded"><img id="fadeImage"></div>



		<script src="../public/lib/fades.js"></script>
</body>

</html>