@font-face {
    font-family: LAMEBRAINS;
    src: url(../fonts/LAMEBRAINS.ttf);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(206, 206, 206, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(206, 206, 206, 0.4); 
}

/*----------------------*/
/*--Cart Drawer Styles--*/
/*----------------------*/

#page-container {
    transition: transform 0.3s;
}

#page-container.has-push-right {
    transform: translateX(-100%);
}

#cart-drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    background-color: #1c1d1d;
    color: white;
    border-radius: 2px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    right: 0;
    transition: transform 0.3s;
    transform: translateX(100%);
}

#cart-drawer:focus {
    outline: none;
}

#cart-drawer.is-active {
    transform: translateX(0);
}

body.has-active-menu {
    overflow: hidden;
}

@media all and (min-width: 420px) {
    #cart-drawer {
        width: 400px;
        transform: translateX(400px);
    }
    #page-container.has-push-right {
        transform: translateX(-400px);
    }
}

.cart-drawer-top {
    flex: none;
    padding: 20px;
    border-bottom: 1px solid #3a3c3c;
}

.cart-drawer-close {
    text-decoration: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.cart-drawer-close:hover {
    color: #cecece;
}

.cart-drawer-header > h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.cart-contents {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

#cart-alert {
    z-index: 99999;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 250px;
    outline: none;
}

.cart-item {
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #3a3c3c;
    padding: 20px 0;
}

.cart-item > div {
    height: 70px;
}

#cart-img {
    max-width: 100%;
}

#cart-item-title {
    text-decoration: none;
    color: white;
    font-style: italic;
}

.cart-item-variation-data {
    display: block;
    padding: 3px 10px;
}

.cart-item-footer {
    width: 100%;
    display: flex;
    margin-top: 15px;
}


.cart-item-qty,
.cart-item-price {
    flex: 1;
}

.cart-item-qty > span {
    padding-right: 20px;
}

#minus-qty {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#minus-qty:hover {
    color: #cecece;
}

.cart-item-price {
    text-align: right;
}

.cart-drawer-footer {
    flex: none;
    padding: 20px;
    border-top: 1px solid #3a3c3c;
    width: 100%;
    height: auto;
}

.footer-sub {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 100%;
    height: auto;
    padding: 0;
}

.footer-sub > div {
    padding: 0;
}

#total-cart-price {
    text-align: right;
}

#checkout-button-container {
    width: 100%;
    padding-top: 20px;
}

#checkout-button-container > a {
    text-decoration: none;
}

#checkout-button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: none;
    background-color: white;
    color: #1c1d1d;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    border-radius: 2px;
    transition: background-color 0.15s ease-out;
}
#checkout-button:hover {
    background-color: #cecece;
}

#nothing-message {
    text-align: center;
}


/*----------------------*/
/*----Top Bar Styles----*/
/*----------------------*/

.store-top-bar {
    padding: 10px 5%;
    height: 50px;
    min-width: 100%;
    
}

#cart-button {
    cursor: pointer;
}

.cart-icon {
    padding-top: 3px;
}

#cart-icon {
    fill: #737373;
}

#cart-notification {
    position: absolute;
    font-size: 14px;
    font-family: LAMEBRAINS;
    font-weight: 500;
    left: 19px;
    top: 0px;
    color: #e60722;
    z-index: -1;
}

.top-row-buffer-50 {
    margin-top: 50px;
}

.bot-row-buffer-50 {
    margin-bottom: 50px;
}

.search-bar {
    padding-top: 7px;
}

.home-button > a {
    color: #737373;
    text-decoration: none;
}

.home-button > a:hover {
    color: #e60722;
}

@media (max-width: 768px) {
    .search-bar {
        width: 70%;
    }
    .home-button {
        width: 10px;
        font-size: 20px;
    }
}

#search-box {
    position: relative;
    max-width: 0;
    opacity: 0;
    transition: all .5s ease;
}

#search-box.expanded {
    max-width: 80%;
    opacity: 1;
}

#search-label {
    color: #737373;
    font-size: 19px;
    cursor: pointer;
}

#search-label.expanded {
    color: #e60722;
}

input[type="search"] {
    height: 24px;
    border: 1px solid #737373;
    border-width: 0 0 2px;
    background-color: transparent;
    font: 16px "Open Sans", sans-serif;
    padding: 0.125em 0.225em;
    width: 100%;
}

input[type="search"]:focus {
    border-color: #e60722;
    outline: none;
}

/*----------------------*/
/*-Shop Home Page Styles*/
/*----------------------*/

.logo-hormid {
    min-width: 100%;
    padding-bottom: 7vh;
}

.logo-img {
    height: 40px;
    display: block;
    margin: 0 auto;
}

.products-showcase {
    padding: 0 10%;
}

.product-container {
    display: block;
    margin: 0 auto;
}

.product-thumbnail {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.product-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    transition: .5s ease;
}

.product-thumbnail-title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;
    transition: .2s ease;
}

.product-thumbnail-price {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
}

.product-tile:hover
.product-thumbnail-title  {
    color: #e60722;
}

.product-tile:hover
.product-thumbnail img {
    opacity: 0.5;
}

/*----------------------*/
/*--product page styles-*/
/*----------------------*/

.item-showcase {
    padding: 0 10%;
}

#item-showcase-photo {
    max-width: 100%;
}

.item-title {
    margin-bottom: 40px;
}

.item-text-pane {
    text-align: center;
}

.item-text-pane h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.item-text-body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#price-rule {
    width: 60px;
    border-width: 2px 0 0 0;
    border-color: #737373;
}

select {
    text-align: center;
    text-align-last: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: 2px solid #737373;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    padding: 10px 30px;
    background-color: white;
    cursor: pointer;
}

select:focus {
    outline: none;
}

select option {
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.size-picker-label {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    padding: 20px 0 0;
}

.select-size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.size-input-container {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 10px 3px;
}

.size-radio {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0!important;
    cursor: pointer;
}

.size-radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #737373;
    transition: transform 300ms ease;
}

.size-radio-label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.size-radio:checked +
.size-radio-tile {
    border-color: #e60722;
}

#add-to-cart-button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: none;
    background-color: #1c1d1d;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 160px;
    height: 50px;
    transition: background-color 0.15s ease-out;
}

#add-to-cart-button:focus {
    outline: none;
}

.add-to-cart {
    padding: 30px 0;
}

#add-to-cart-button:hover {
    background-color: #3a3c3c;
}

.item-description {
    padding: 50px 20px;
}

#out-of-stock-warning {
    color: #e60722;
}