@import url("https://fonts.googleapis.com/css?family=Roboto" );

@font-face {
    font-family: LAMEBRAINS;
    src: url(../fonts/LAMEBRAINS.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.otf);
}

@font-face {
    font-family: TrumpGothicEastBoldItalic;
    src: url(../fonts/trump_gothic_east_bold_italic.ttf);
}

body {
    background: #000000 url("../images/backgrounds/BACKGROUND-IMAGE.jpg") top center no-repeat fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(70, 98, 170,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(70, 98, 170,0.4); 
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: url("../images/SS-loading3.gif") center no-repeat #000000;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.topshit {
    padding-top: 20px;
    padding-left: 20px;
    position: relative!important;
    height: auto;
}

@media (max-width: 440px) {
    .topshit>a>img {
        padding-right: 5%;
        width: 100%;
    }
}

#adminNav>li {
    width: 33%;
}

.navbar {
    width: 100%;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar > button {
    left: 20px;
}

.navbar > button:hover {
    background: none;
}

.navbar-default .navbar-nav > .active > a,  
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}

.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
    float: left;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #4662AA;
}

.container {
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
}

.navbar-default .navbar-custom {
    font-family: LAMEBRAINS;
    text-align: left;
    width: 100%;
}

.nav>li {
    width: 16.6666%;
}

.navbar-default .nav>li>a {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    color: white;
    font-size: 200%;
    white-space: nowrap;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    background-color:rgba(0,0,0,0);
    color: #4662AA;
    font-size: 400%;
}

.navigation {
    overflow: hidden;
    height: auto;
}

.top-content-block {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}

#media-footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#media-footer>a {
    font-family: BebasNeue;
    color: white;
    padding-right: 20px;
    font-size: 42px;
    float: right;
}

#home-ss-logo {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#home-ss-logo > img {
    max-width: 200px;
}

@media (max-width: 700px) {
    #media-footer>a {
        font-size: 20px;
    }
    #home-ss-logo > img {
        max-width: 100px;
    }
}

.shop-block>a {
    text-decoration: none;
    display: inline-block;
    line-height: 100vh;
    color: white;
    font-family: LAMEBRAINS;
    font-size: 1000%;
    text-shadow: -2px 2px 0px rgb(0, 0, 0);
}


#media-title {
    font-family: TrumpGothicEastBoldItalic;
    font-size: 400%;
    letter-spacing: 2px;
    color: white;
}

.datacontainer {
    width: 100%;
    margin-bottom: 100px;
    display: inline-block;
}

.datafiles {
    text-align: center;

}

.media-dateTime {
    float: left;
    color: lightgray;
}

@media (max-width: 500px) {
    .topshit-plus-kvka1 {
        height: 150vh!important;
    }

    .kvka-logo {
        width: 50%!important;
        padding-top: 30vh!important;
    }

    .background-img-tag {
        width: 200vw!important;
        height: 110vh!important;
    }
}
.topshit-plus-kvka1 {
    position: relative;
    height: 100%;
    overflow: hidden!important;
    background-image: linear-gradient(
        rgba(0,0,0,0) 50%, rgba(0,0,0,.8)
    );
}

.background-img-tag {
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    size: cover;
}

.kvka-logo {
    width: 100%;
    padding-top: 500px; 
    z-index: 1000;
}

#kvka-writeup-block {
    padding-top: 40px;
    background: url("../images/backgrounds/KVKAflowers.jpg") left top/cover no-repeat;
}

.kvka-text {
    color: white;
    text-shadow: -3px 2px 2px rgba(0, 0, 0, 1);
    font-family: BebasNeue;
    font-size: 36px;
    height: 500px;
}

@media (max-width: 700px) {
    .kvka-text {
        font-size: 200%;
    }
}

@media (max-width: 450px) {
    .kvka-text {
        font-size: 170%;
    }
}

h1 {
    text-align: center;
}

.gallery-item {
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: middle;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header {
  border-bottom: none;
  background-color: black;
}

.modal-content {
    background-color: black;
}

.post-description {
    text-align: left;
    font-family: 'roboto';
    letter-spacing: 2px;
    font-size: 15px;
    color: lightgray;
}
.collapse.in {
    display: inline;
}

.post-block {
    width: 100%;
}

.collapse-text-toggle {
    color: #4662AA;
}
.collapse-text-toggle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.inner-content-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 61%;
}

.inner-content-container>iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@media (max-width: 700px) {
    #media-title {
        font-size: 40px;
    }

    .fivebreaks {
        display: none;
    }
}

#postform>input[type=text],
#postform>input[type=url] {
    width: 100%;
    padding: 12px 10px;
    border-radius: 4px;
    font-family: BebasNeue;
    letter-spacing: 2px;
}

#postform>input[type=number] {
    padding: 12px 10px;
    border-radius: 4px;
    font-family: BebasNeue;
    letter-spacing: 2px;
}

#postform>textarea {
    width: 100%;
    height: 300px;
    padding: 12px 10px;
    border-radius: 4px;
    font-family: BebasNeue;
    letter-spacing: 2px;
}

#postform>input[type=submit] {
    margin-top: 10px;
    height: 40px;
    width: 100px;
    font-family: BebasNeue;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: white;
}

#postform>input[type=submit]:hover {
    background-color: #4662AA;
    color: white;
}

#manage-media {
    font-family: TrumpGothicEastBoldItalic;
    letter-spacing: 2px;
    color: grey;
}

#manage-media>div>div>h2 {
    text-align: center;
}

.post-container {
    height: 70px;
    margin-bottom: 10px;
    color: white;
    background-color: grey;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.post-container:hover {
    transform: scaleX(1.05);
}

.post-panel:hover {
    color: #4662AA;
    background-color: lightgray;
    cursor: pointer;
}

.post-panel {
    border-radius: 4px;
    float: left;
    height: 100%;
    padding-left: 50px;
    display: table;
    width: 90%;
}

.post-panel>h3,
.post-panel>h4 {
    display: table-cell;
    vertical-align: middle;
}

.post-container>button {
    float: right;
    border-radius: 4px;
    width: 10%!important;
    height: 100%;
    background-color: #cd3432;
    border: none;
    font-size: 20px;
}

.post-container>button:hover {
    background-color: #d65a57;
}

.imgoverlay {
    opacity: 0;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    text-align: center;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all .4s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.main-headers {
    font-family: 'LAMEBRAINS';
    color: white;
    font-size: 60px;
}

.not-visible {
  visibility: hidden;
}

.adminform {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#faded {
    background: black;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

#fadeImage {
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
}

.sam-cover {
    color: white;
    font-size: 20px;
    opacity: 1;
    position: relative;
    z-index: 99999;
    overflow: hidden;
}

.sam-cover>p {
    font-family: TrumpGothicEastBoldItalic;
    letter-spacing: 1px;
    font-size: 24px;
}

.pleft {
    width: 100%;
    padding-left: 10%;
    padding-right: 70%;
    margin-bottom: 130vh;
    margin-top: 50vh;
    text-align: left;
}

.pright {
    width: 100%;
    padding-left: 70%;
    padding-right: 10%;
    margin-bottom: 130vh;
    margin-top: 50vh;
    text-align: right;
}

#sam-top-bar {
    position: relative;
    z-index: 99999;
}

@media only screen and (max-width: 500px) {
    .sam-cover>p {
        font-size: 12px;
    }
}

.centerwrapper {
    text-align: center;
}

.pagetopbtn {
    text-decoration: none;
    color: white;
    margin-bottom: 100px;
    font-size: 16px;
    font-family: BebasNeue;
    letter-spacing: 2px;
}

.pagetopbtn:hover, .pagetopbtn:active, .pagetopbtn:focus {
    color: white;
    text-decoration: none;
}

.pagetopbtn>div>span {
    position: relative;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

#artist-social-module {
    margin-top: 70px;
    animation-name: socialFadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    height: auto;
}

@media only screen and (max-width: 500px) {
    #artist-social-module {
        margin-top: 10px;
    }
}

#artist-social-module-clone {
    visibility: hidden;
    margin-top: 70px;
}

#artist-social-module.fixed {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 0;
    width: auto;
    background-image: linear-gradient(
        to right, rgba(0,0,0,1) 10%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0)
    );
}

#social-module-background.fixed {
    margin: auto 10px auto 10px;
    top: 0;
    width: 100%;
    height: auto;
    align-self: center;
}

#artist-social-module.mobile-fixed {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0;
    width: 100%;
    margin-top: 0;
    background-image: linear-gradient(
        rgba(0,0,0,1) 15%, rgba(0,0,0,0)
    );
}

#social-module-background.mobile-fixed {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto; 
    top: 0;
    width: 100%;
    height: 55px;
}

#artist-social-module.fadeOut {
    animation-name: socialFadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes socialFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes socialFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.svg-icon {
  fill: currentColor;
  color: inherit;
  width: auto;
  height: auto;
}

.svg-icon {
  width: 4rem;
  color: ghostwhite;
  display: block;
  margin: auto;
}

.horizontal-social {
    list-style: none;
    display: table;
    width: 100%;
    padding: 0 0 0 0;
}

.social-li {
    display: table-cell;
}

.social-li.fixed {
    margin-top: 10px; 
    margin-left: 0px;
    display: list-item;
}

.svg-icon:hover .circle-path{
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 400ms ease-in forwards;
  stroke: #4662AA;
}

.svg-icon:hover .arrow-path{
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 400ms linear forwards;
    animation-delay: 300ms;
    stroke: #4662AA;
}

.svg-icon:hover{
    animation: colorwash 450ms linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes colorwash {
  to {
      color: #4662AA;
  }
}

.showcase-body {
    background-color: rgba(0,0,0,.8);
    padding-top: 200px;
}

.showcase-item {
    margin-top: 100px;
    margin-bottom: 100px;
}

.showcase-body>.container-fluid {
    margin: 0 16%;
}

.showcase-video {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.showcase-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.showcase-text {
    width: 100%;
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
}

.showcase-text-title {
    font-family: BebasNeue;
}

.showcase-text-body {
    letter-spacing: 2px;
    font-size: 1.8rem;
}

.showcase-photo img {
    margin-left: auto;
	margin-right: auto;
	display: block;
    max-width: 100%;
}

.showcase-photo {
    position: relative;
}

#kvka-sc-2 {
    top: 50px;
}

#kvka-sc-3 {
    top: 20px;
    z-index: 6;
}

.dblphoto1 {
    margin-right: -10%;
}

.dblphoto2 {
    margin-left: -10%;
}


@media only screen and (max-width: 500px) {
    .showcase-body>.container-fluid {
        margin: 0 3%;
    }

    .showcase-text-body {
        font-size: 1.2rem;
    }

    .showcase-body > .container-fluid > .row {
        margin-top: 20px;
        margin-bottom: 70px;
    }

}

@media only screen and (max-width: 768px) { 
    .showcase-item {
        margin-top: 0;
        margin-bottom: 0;
    }

    .dblphoto1 {
        margin-right: 0;
        margin-bottom: 70px;
    }

    .dblphoto2 {
        margin-left: 0;
    }

    #kvka-sc-1 {
        top: 0!important;
    }

    #kvka-sc-2 {
        top: 0!important;
    }
}

/* when hiding the thing */
.ng-hide-add         { 
  -webkit-animation:0.5s fadeOutRight ease; 
  animation:0.5s fadeOutRight ease; 
}

/* when showing the thing */
.ng-hide-remove      { 
  -webkit-animation:0.5s fadeInLeft ease; 
  animation:0.5s fadeInLeft ease; 
}

/*-----------------------*/
/*---Admin Shop Page----*/
/*-----------------------*/

.inventory-form {
    font-family: 'roboto';
}

/*-----------------------*/
/*---Admin Order Page----*/
/*-----------------------*/

.order-sheet {
    font-family: 'roboto';
    margin-bottom: 20px;
    overflow: hidden;
}

/* when hiding the thing */
.order-more-details.ng-hide-add         { 
  -webkit-animation:0.5s fadeOutUp ease; 
  animation:0.5s fadeOutUp ease; 
}

/* when showing the thing */
.order-more-details.ng-hide-remove      { 
  -webkit-animation:0.5s fadeInDown ease; 
  animation:0.5s fadeInDown ease; 
}

.order-click {
    color: black;
}

.order-click:hover {
    text-decoration: none;
    color: #4662AA;
}

.order-click:hover>.order-header {
    background-color: #e2e2e2;
}

@media (max-width: 900px) {
    .order-header {
        flex-direction: column;
    }
    .order-header > span {
        text-align: left!important;
    }
}

.order-header {
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: lightgray;
    border-radius: 2px;
    display: flex;
}

.order-header > span:last-child {
    text-align: right;
}

.order-header > span {
    flex: 1;
}

.order-more-details {
    background-color: lightgray;
    padding: 20px 20px;
}

.customer-details-table,
.customer-cart-table {
    width: 100%;
}

.customer-cart-table th,
.customer-cart-table td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

.complete-order {
    overflow: hidden;
}

.complete-order-button {
    float: right;
}

.payment-id {
    font-size: 12px;
}

/*-----------------------*/
/*---Admin Stock Page----*/
/*-----------------------*/

.stock-image-thumbnail {
    max-height: 100px;
}

.more-stock-details {
    display: flex;
    flex-direction: column;
}

.more-stock-details-base {
    display: flex;
    flex-direction: row;
}

.more-stock-details *,
.more-stock-details-base * {
    flex: 1;
}

.variation-stock-details {
    margin: 0 25px;
    display: flex;
    border-bottom: 1px solid black;
}

.variation-stock-details * {
    flex: 1;
}

.stock-footer {
    padding: 20px 25px;
    display: flex;
}

.stock-footer * {
    flex: 1;
}

.delete-button-container {
    overflow: hidden;
}

.delete-button {
    float: right;
}

#admin-alert {
    z-index: 99999;
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 250px;
    max-width: 400px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    color: black;
    opacity: 0.8;
    transition: all .5s ease;
}

#admin-alert:hover {
    opacity: 1;
}

/*-----------------------*/
/*---David Artist Page---*/
/*-----------------------*/

#david .navbar-default .nav>li>a {
    color: #8e8a8d;
}

#david .navbar-default .nav>li>a:hover {
    color: pink;
}

#david .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: pink;
}

.instafeed-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 1500px;
    padding: 0px;
    border: none;
    max-width: 100%;
    min-width: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 200px;
}

.instafeed-container * {
    font-family: 'roboto';
    color: #8e8a8d;
}

.instafeed-photo {
    padding: 15px;
}

.instafeed-photo:hover * {
    color: pink;
    text-decoration: none;
}

.instafeed-photo img{
    flex: 1;
    width: 100%;
}

.instafeed-container::-webkit-scrollbar {
    width: 0 !important;
}

#instagram-feed-header {
    text-align: center;
}

#instagram-feed-header * {
    font-family: 'roboto';
    color: #8e8a8d;
}

#instagram-feed-header span:first-child {
    font-size: 18px;
}

.insta-photo-footer {
    overflow: hidden;
}

.insta-photo-footer > span:last-child {
    float: right;
}

.insta-photo-footer > span {
    padding-right: 20px;
}

#instagram-feed-header span {
    font-size: 12px;
}

#ig-hr {
    margin-bottom: 0;
}

#david #artist-social-module.fixed {
    background-image: none;
}

#david #artist-social-module.mobile-fixed {
    background-image: linear-gradient(
        rgba(0,0,0,0.6) 5%, rgba(0,0,0,0.4) 45%, rgba(1,1,1,0)
    );
}

#david .svg-icon,
#david .circle-path,
#david .arrow-path {
  color: #8e8a8d;
  stroke: #8e8a8d;
}

#david .svg-icon:hover .circle-path{
  stroke: pink;
}

#david .svg-icon:hover .arrow-path{
    stroke: pink;
}

#david .svg-icon:hover{
    animation: david-colorwash 450ms linear forwards;
}

@keyframes david-colorwash {
  to {
      color: pink;
  }
}

#html-david ::-webkit-scrollbar {
    width: 7px;
}

#html-david ::-webkit-scrollbar-track {
    background-color: ghostwhite;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#html-david ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(255, 209, 193, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#html-david ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 209, 193, 0.4); 
}

/*-----------------------*/
/*---DENZ1 Artist Page---*/
/*-----------------------*/

#html-denz1 ::-webkit-scrollbar-track {
    background-color: #1f150d;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#html-denz1 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(252, 133, 2, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#html-denz1 ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(252, 133, 2, 0.4); 
}

/*-----------------------*/
/*----Sam Artist Page----*/
/*-----------------------*/

#sam .navbar-default .nav>li>a {
    color: #8e8a8d;
}

#sam .navbar-default .nav>li>a:hover {
    color: #c53324;
}

#sam .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #c53324;
}

#sam #artist-social-module.fixed {
    background-image: none;
}

#sam #artist-social-module.mobile-fixed {
    background-image: linear-gradient(
        rgba(0,0,0,0.6) 5%, rgba(0,0,0,0.4) 45%, rgba(1,1,1,0)
    );
}

#sam .svg-icon,
#sam .circle-path,
#sam .arrow-path {
  color: #8e8a8d;
  stroke: #8e8a8d;
}

#sam .svg-icon:hover .circle-path{
  stroke: #c53324;
}

#sam .svg-icon:hover .arrow-path{
    stroke: #c53324;
}

#sam .svg-icon:hover{
    animation: sam-colorwash 450ms linear forwards;
}

@keyframes sam-colorwash {
  to {
      color: #c53324;
  }
}

#sam #kvka-sc-1 {
    top: 200px;
}

#sam #kvka-sc-2 {
    top: 0px;
}

#sam .instafeed-photo:hover * {
    color: #c53324;
    text-decoration: none;
}

#html-sam ::-webkit-scrollbar {
    width: 7px;
}

#html-sam ::-webkit-scrollbar-track {
    background-color: ghostwhite;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#html-sam ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(197, 51, 36, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#html-sam ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(197, 51, 36, 0.4); 
}

/*-----------------------*/
/*------Contact Page-----*/
/*-----------------------*/

#contact {
    height: 1vh;
    overflow: hidden;
}

.contact-body {
    text-align: center;
    padding-top: 100px;
    color: ghostwhite;
}

.contact-body * {
    font-family: 'roboto';
    font-size: 18px;
}

.contact-body > div {
    padding-bottom: 25px;
}

#home video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('https://thumbs.gfycat.com/UnawareGlossyBullfrog-mobile.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#home .contact-body {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 200px;
    color: ghostwhite;
}

#home .contact-body * {
    font-family: 'BebasNeue';
    padding: 15px 32%;
    font-size: 18px;
}

@media (max-width: 700px) {
    #home .contact-body {
        padding-top: 30px;
    }

    #home .contact-body * {
        padding: 15px 5%;
    }
}

#home-ultimate {
    position: relative;
}