@font-face {
    font-family: LAMEBRAINS;
    src: url(../fonts/LAMEBRAINS.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.otf);
}

@font-face {
    font-family: TrumpGothicEastBoldItalic;
    src: url(../fonts/trump_gothic_east_bold_italic.ttf);
}

body {
    background: #000000 url("../images/backgrounds/BACKGROUND-IMAGE.jpg") top center no-repeat fixed;
    background-size: cover;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(70, 98, 170,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(70, 98, 170,0.4); 
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: url("../images/SS-loading3.gif") center no-repeat #000000;
}

.topshit {
    padding-top: 20px;
    padding-left: 20px;
    position: relative!important;
}

@media (max-width: 440px) {
    .topshit>a>img {
        padding-right: 5%;
        width: 100%;
    }
}

#adminNav>li {
    width: 33%;
}

.navigation {
    height: 100px;
}

.navbar {
    width: 100%;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar > button {
    left: 20px;
}

.navbar > button:hover {
    background: none;
}

.navbar-default .navbar-nav > .active > a,  
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}

.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
    float: left;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #4662AA;
}

.container {
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
}

.navbar-default .navbar-custom {
    font-family: LAMEBRAINS;
    text-align: left;
    width: 100%;
}

.nav>li {
    width: 16.6666%;
}

.navbar-default .nav>li>a {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    color: white;
    font-size: 200%;
    white-space: nowrap;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    background-color:rgba(0,0,0,0);
    color: #4662AA;
    font-size: 400%;
}

.top-content-block {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}

.content-block-1 {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.main-headers {
    font-family: LAMEBRAINS;
    text-align: center;
    color: white;
    font-size: 900%;
    text-shadow: -2px 2px 0px rgb(68, 68, 68);
    padding-bottom: 50px;
}

@media (max-width: 700px) {
    .main-headers {
        font-size: 500%;
    }

    #media-writeup>p {
        font-size: 5vw!important;
    }
}

#media-writeup>p {
    line-height: 85%;
    display: inline-block;
    color: white;
    font-family: BebasNeue;
    font-size: 50px;
}

#media-footer {
    float: right;
}

#media-footer>a {
    font-family: BebasNeue;
    color: white;
    padding-right: 20px;
    font-size: 42px;
    float: right;
}

.shop-block {
    clear: both;
    width: 100%;
    height: 100vh!important;
    background: url("../images/backgrounds/SHOP-BACKGROUND-IMAGE.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.shop-block>a {
    text-decoration: none;
    display: inline-block;
    line-height: 100vh;
    color: white;
    font-family: LAMEBRAINS;
    font-size: 1000%;
    text-shadow: -2px 2px 0px rgb(0, 0, 0);
}

.shop-block>a:hover {
    color: #4662AA;
    font-size: 1500%;
}

.crew-block {
    clear: both;
    width: 100%;
    height: 100vh;
}

#media-title {
    font-family: TrumpGothicEastBoldItalic;
    font-size: 400%;
    letter-spacing: 2px;
}

.datacontainer {
    width: 100%;
    margin-bottom: 100px;
    display: inline-block;
}

.datafiles {
    text-align: center;

}

.media-dateTime {
    float: left;
    color: lightgray;
}

.anchor-navigation {
    position: fixed;
    z-index: 999;
    top: 50%;
    bottom: 50%;
    right: 0px;
    height: 100px;
    width: 40px;
}

.ion-chevron-up {
    color: darkgray;
    font-size: 32px;
    position: absolute;
    top: 0px;
}
.ion-chevron-up:hover {
    color: white;
}

.ion-chevron-up:focus {
    color: darkgrey;
}

.ion-chevron-down {
    color: darkgray;
    font-size: 32px;
    position: absolute;
    bottom: 0px;
}

.ion-chevron-down:hover {
    color: white;
}

.ion-chevron-down:focus {
    color: darkgray;
}

#html-kvka {
    font-size: 62.5%;
}

@media (max-width: 500px) {
    .topshit-plus-kvka1 {
        height: 150vh!important;
    }

    .kvka-logo {
        width: 50%!important;
        padding-top: 30vh!important;
    }

    .background-img-tag {
        width: 200vw!important;
        height: 110vh!important;
    }
}
.topshit-plus-kvka1 {
    position: relative;
    height: 100%;
    overflow: hidden!important;
    background-image: linear-gradient(
        rgba(0,0,0,0) 50%, rgba(0,0,0,.8)
    );
}

.background-img-tag {
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    size: cover;
}



.kvka-logo {
    width: 100%;
    padding-top: 500px; 
}

.logo-fadein {
    -webkit-animation: animat_show 2s;
    animation: animat_show 2s;
    visibility: visible !important;
}

@keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

#kvka-writeup-block {
    padding-top: 40px;
    background: url("../images/backgrounds/KVKAflowers.jpg") left top/cover no-repeat;
}

.kvka-text {
    color: white;
    text-shadow: -3px 2px 2px rgba(0, 0, 0, 1);
    font-family: BebasNeue;
    font-size: 36px;
    height: 500px;
}

@media (max-width: 700px) {
    .kvka-text {
        font-size: 200%;
    }
}

@media (max-width: 450px) {
    .kvka-text {
        font-size: 170%;
    }
}

.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  /*-webkit-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

h1 {
    text-align: center;
}

.gallery-item {
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: middle;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

 .modal-header {
  border-bottom: none;
  background-color: black;
  }

  .modal-content {
      background-color: black;
  }

  .post-description {
      text-align: left;
      font-family: BebasNeue;
      letter-spacing: 2px;
      font-size: 15px;
      color: lightgray;
  }

  .collapse.in {
      display: inline;
  }

  .post-block {
      width: 100%;
  }
  
  .inner-content-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 61%;
  }

  .inner-content-container>iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
  }

  .collapse-text-toggle {
      color: #4662AA;
  }

  .collapse-text-toggle:hover {
      text-decoration: underline;
      cursor: pointer;
  }

@media (max-width: 700px) {
    #media-title {
        font-size: 40px;
    }

    .fivebreaks {
        display: none;
    }
}

#postform>input[type=text],
#postform>input[type=url] {
    width: 100%;
    padding: 12px 10px;
    border-radius: 4px;
    font-family: BebasNeue;
    letter-spacing: 2px;
}

#postform>input[type=number] {
    padding: 12px 10px;
    border-radius: 4px;
    font-family: BebasNeue;
    letter-spacing: 2px;
}

#postform>textarea {
    width: 100%;
    height: 300px;
    padding: 12px 10px;
    border-radius: 4px;
    font-family: BebasNeue;
    letter-spacing: 2px;
}

#postform>input[type=submit] {
    margin-top: 10px;
    height: 40px;
    width: 100px;
    font-family: BebasNeue;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: white;
}

#postform>input[type=submit]:hover {
    background-color: #4662AA;
    color: white;
}

#manage-media {
    font-family: TrumpGothicEastBoldItalic;
    letter-spacing: 2px;
    color: grey;
}

#manage-media>div>div>h2 {
    text-align: center;
}

.post-container {
    height: 70px;
    margin-bottom: 10px;
    color: white;
    background-color: grey;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.post-container:hover {
    transform: scaleX(1.05);
}

.post-panel:hover {
    color: #4662AA;
    background-color: lightgray;
    cursor: pointer;
}

.post-panel {
    border-radius: 4px;
    float: left;
    height: 100%;
    padding-left: 50px;
    display: table;
    width: 90%;
}

.post-panel>h3,
.post-panel>h4 {
    display: table-cell;
    vertical-align: middle;
}

.post-container>button {
    float: right;
    border-radius: 4px;
    width: 10%!important;
    height: 100%;
    background-color: #cd3432;
    border: none;
    font-size: 20px;
}

.post-container>button:hover {
    background-color: #d65a57;
}

.imagecontainer {
    cursor: pointer;
}

.feature-container>.imagecontainer>img {
    width: 100%;
    vertical-align: top;
}

.feature-container>iframe {
    width: 100%; 
    height: 400px;
}

.imgoverlay {
    opacity: 0;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    text-align: center;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all .4s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.imagecontainer {
    position: relative;
}

.imagecontainer:hover .imgoverlay {
    opacity: 1;
}

.textoverlay {
    font-family: TrumpGothicEastBoldItalic;
    font-size: 26px;
}

.not-visible {
  visibility: hidden;
}

.adminform {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#faded {
    background: black;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

#fadeImage {
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
}

.sam-cover {
    color: white;
    font-size: 20px;
    opacity: 1;
    position: relative;
    z-index: 99999;
    overflow: hidden;
}

.sam-cover>p {
    font-family: TrumpGothicEastBoldItalic;
    letter-spacing: 1px;
    font-size: 24px;
}

.pleft {
    width: 100%;
    padding-left: 10%;
    padding-right: 70%;
    margin-bottom: 130vh;
    margin-top: 50vh;
    text-align: left;
}

.pright {
    width: 100%;
    padding-left: 70%;
    padding-right: 10%;
    margin-bottom: 130vh;
    margin-top: 50vh;
    text-align: right;
}

#sam-top-bar {
    position: relative;
    z-index: 99999;
}

@media only screen and (max-width: 500px) {
    .sam-cover>p {
        font-size: 12px;
    }
}

.centerwrapper {
    text-align: center;
}

.pagetopbtn {
    text-decoration: none;
    color: white;
    margin-bottom: 100px;
    font-size: 16px;
    font-family: BebasNeue;
    letter-spacing: 2px;
}

.pagetopbtn:hover, .pagetopbtn:active, .pagetopbtn:focus {
    color: white;
    text-decoration: none;
}

.pagetopbtn>div>span {
    position: relative;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

#artist-social-module {
    margin-top: 70px;
    animation-name: socialFadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@media only screen and (max-width: 500px) {
    #artist-social-module {
        margin-top: 10px;
    }
}

#artist-social-module-clone {
    visibility: hidden;
    margin-top: 70px;
}

#artist-social-module.fixed {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 0;
    width: auto;
    background-image: linear-gradient(
        to right, rgba(0,0,0,1) 10%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0)
    );
}

#social-module-background.fixed {
    margin: auto 10px auto 10px;
    top: 0;
    width: 100%;
    height: auto;
    align-self: center;
}

#artist-social-module.mobile-fixed {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0;
    width: 100%;
    margin-top: 0;
    background-image: linear-gradient(
        rgba(0,0,0,1) 15%, rgba(0,0,0,0)
    );
}

#social-module-background.mobile-fixed {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto; 
    top: 0;
    width: 100%;
    height: 55px;
}

#artist-social-module.fadeOut {
    animation-name: socialFadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes socialFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes socialFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.svg-icon {
  fill: currentColor;
  color: inherit;
  width: auto;
  height: auto;
}

.svg-icon {
  width: 4rem;
  color: ghostwhite;
  display: block;
  margin: auto;
}

.horizontal-social {
    list-style: none;
    display: table;
    width: 100%;
    padding: 0 0 0 0;
}

.social-li {
    display: table-cell;
}

.social-li.fixed {
    margin-top: 10px; 
    margin-left: 0px;
    display: list-item;
}

.svg-icon:hover .circle-path{
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 400ms ease-in forwards;
  stroke: #4662AA;
}

.svg-icon:hover .arrow-path{
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 400ms linear forwards;
    animation-delay: 300ms;
    stroke: #4662AA;
}

.svg-icon:hover{
    animation: colorwash 450ms linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes colorwash {
  to {
      color: #4662AA;
  }
}

.showcase-body {
    background-color: rgba(0,0,0,.8);
    padding-top: 200px;
}

.showcase-item {
    margin-top: 100px;
    margin-bottom: 100px;
}

.showcase-body>.container-fluid {
    margin: 0 16%;
}

.showcase-video {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.showcase-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.showcase-text {
    width: 100%;
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
}

.showcase-text-title {
    font-family: BebasNeue;
}

.showcase-text-body {
    letter-spacing: 2px;
    font-size: 1.8rem;
}

.showcase-photo img {
    margin-left: auto;
	margin-right: auto;
	display: block;
    max-width: 100%;
}

.showcase-photo {
    position: relative;
}

#kvka-sc-2 {
    top: 50px;
}

#kvka-sc-3 {
    top: 20px;
    z-index: 6;
}

.dblphoto1 {
    margin-right: -10%;
}

.dblphoto2 {
    margin-left: -10%;
}


@media only screen and (max-width: 500px) {
    .showcase-body>.container-fluid {
        margin: 0 3%;
    }

    .showcase-text-body {
        font-size: 1.2rem;
    }

    .showcase-body > .container-fluid > .row {
        margin-top: 20px;
        margin-bottom: 70px;
    }

}

@media only screen and (max-width: 768px) { 
    .showcase-item {
        margin-top: 0;
        margin-bottom: 0;
    }

    .dblphoto1 {
        margin-right: 0;
        margin-bottom: 70px;
    }

    .dblphoto2 {
        margin-left: 0;
    }

    #kvka-sc-1 {
        top: 0;
    }

    #kvka-sc-2 {
        top: 0;
    }
}

/* when hiding the thing */
.ng-hide-add         { 
  -webkit-animation:0.5s fadeOutRight ease; 
  animation:0.5s fadeOutRight ease; 
}

/* when showing the thing */
.ng-hide-remove      { 
  -webkit-animation:0.5s fadeInLeft ease; 
  animation:0.5s fadeInLeft ease; 
}
